<!DOCTYPE html>
<html>
  <head>
    <title>PenTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav>
<%=link_to "hak",hacks_path%>
<%=link_to "programming language",programminglanguages_path%>
<%=link_to "library",libraries_path%>
</nav>
    <%= yield %>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  </body>
</html>
